@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;400;500;600;700;800;900&family=Oswald:wght@200;700&family=Poppins&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat;
}

body{
    background-color: #fff;
}

/* Navigation Bar */


.logo img{
 height: 30px;
 margin-top: 40px;
 margin-left: -100px;
}

.nav-bar{
    background-color: #741bf1;
    height: 600px;
}


.nav-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 200px;
}

.menu-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.nav-menu h3{
font-size: 15px;
font-weight: 400;
color: #fff;
padding-left: 20px;
padding-right: 30px;
}

.nav-menu button{
height: 40px;
font-size: 15px;
font-weight: 300;
color: #fff;
padding-left: 20px;
padding-right: 20px;
width: 120px;
border-width: 0px;
background-color: #4dafff;
margin-left: 20px;
margin-top: -5px;


}


/* Hero Section */

.hero-text h2{
    font-size: 40px;
    font-weight: 500;
    margin-left: 120px;
    margin-top: 80px;
    width: 380px;;
    color: #fff;
    word-spacing: 5px;
}

.hero-text p{
    margin-top: 30px;
    margin-left: 120px;
    width: 380px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}

.hero-section{
    display: flex;
}

.hero-section img{
    height: 500px;
    margin-left: 350px;
    
}

/* Hero Section 2 */

.hero-section-2 {
display: flex;
height: 600px;
background-color: #fff
}

.hero-section-2 img{
    height: 500px;
    margin-top: 100px;
    margin-left: 120px;
}

.hero-sec-text{
    margin-left: 250px;
    margin-top: 100px;
}

.hero-sec-text h2{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px;
    width: 300px;
}


.hero-sec-text h4{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-left: 50px;
    margin-top: 30px;
    text-transform: capitalize;
}

.hero-sec-text p{
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
}

 /* Last Section  */

 .last-section{
    height: 500px;
    background-color: #fff;
 }

 .last-section h2{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-left: 520px;
    margin-top: 50px;
    padding-top: 20px;
    width: 400px;
    text-align: center;
    text-transform: capitalize;
 }

 .last-section-container{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 50px;
    margin-left: 240px;
 }

 .container img{
    height: 60px;
    margin-left: 80px;
    margin-top: 20px;
 }

.container{
    height: 260px;
    width: 220px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 5px 5px 20px 5px #00000045;
}

.sub-container{
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 20px;
    height: 130px;
}

.sub-container h3{
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    margin-left: 55px;
    padding-top: 10px;
}

.sub-container p{
    font-size: 12px;
    color: #000000;
    font-weight: 300;
    margin-left: 8px;
    padding-top: 10px;
    text-align: center;
    width: 200px;
}

.sub-container.active{
    color: #fff;
    background-color: #741bf1;
}

.sub-container.active h3{
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 60px;
    padding-top: 10px;
}

.sub-container.active p{
    font-size: 12px;
    color: #ffffff;
    font-weight: 200;
    margin-left: 8px;
    padding-top: 10px;
    text-align: center;
    width: 200px;
}

@media screen and (min-width:600px){
    .hamburgur-menu{
        display: none;
    }
}

@media screen and (max-width:600px){
    .hamburgur-menu img{
        height: 40px;
    }
    .hamburgur-menu{
        margin-top: 42px;
        margin-left: 210px;
        
    }
    .nav-menu{
        display: none;
    }
    .logo img{
        margin-left: 40px;
    }
    .hero-section, .hero-section-2{
        display: flex;
        flex-direction: column;
    }
    .hero-img img{
        height: 370px;
        margin-left: 30px;
    }
    .hero-text{
        margin-left: -50px;
    }
    .nav-bar{
        height: 800px;
    }
    .hero-sec-img-2 img{
        height: 400px;
        margin-left: 30px;
    }
    .hero-sec-text{
        margin-left: 50px;
    }
    .last-section{
        height: 1350px;
    }
    .last-section-container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        margin-left: 0px;
        
    }
    .last-section h2{
        margin-left: 40px;
        margin-top: 500px;
        font-size: 24px;
    }
    .last-section{
        margin-top: 50px;
        
      
    }


}